<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>example</title>
</head>

<body>
    <form action="/topic" method="post">
        <p><input type="text" name="title" id="" placeholder="title"></p>
        <p><textarea name="description" id="" cols="30" rows="10"></textarea></p>
        <input type="submit" value="제출">
    </form>
    <footer>
    </footer>
</body>

</html>